@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700);
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 0;
    border-bottom: 3px solid hsl(195, 73%, 58%);
}

button {
    padding: 0;
    border: none;
    background: none;
}

a,
button {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.row.mt {
    margin-top: 1.25em;
    box-sizing: border-box;
}

.row.mb {
    margin-bottom: 1.25em;
}

.lpad {
    padding: 20px;
}

nav.menu a,
nav.menu button {
    margin: 0 7px;
    color: hsl(0, 0%, 70%);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.ar {
    text-align: right;
}

.logo {
    color: hsl(195, 73%, 58%);
    font-size: 28px;
}

.top-msg {
    border-bottom: 5px solid hsla(0, 0%, 90%, .3);
    color: hsl(0, 0%, 40%);
    font-size: 13px;
    font-weight: 300;
}

.breadcrumb a,
.breadcrumb button {
    transition: color .5s;
}

.breadcrumb a:hover,
.breadcrumb button:hover {
    color: hsl(0, 0%, 20%);
}

.breadcrumb a:after,
.breadcrumb button:after {
    content: '\00a0\00a0\002F\00a0\00a0';
    color: hsl(0, 0%, 70%);
}

.breadcrumb a:last-child:after,
.breadcrumb button:last-child:after {
    content: '\00a0\00a0\002F\00a0\00a0 Categories';
    color: hsl(0, 0%, 70%);
}

a.primary,
button.primary {
    color: hsl(0, 0%, 70%);
    transition: color .5s;
}

a.primary:hover,
button.primary:hover {
    color: hsl(195, 73%, 58%);
}

a.underline,
button.underline {
    color: hsl(0, 0%, 70%);
}

a.underline:hover:after,
button.underline:hover:after {
    content: '';
    display: block;
    width: inherit;
    height: 2px;
    background-color: hsl(195, 73%, 58%);
    margin-bottom: -2px;
    animation: link .9s ease;
}

@keyframes link {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#app {
    height: max-content;
}

.posts {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

table {
    border-collapse: separate;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-color: inherit;
    border: 1px solid gray;
    border-radius: 10px;
}

.table {
    table-layout: fixed;
}

thead {
    color: #555;
    display: table-header-group;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    font-size: 93%;
    line-height: 1.3em;
    border-bottom: solid gray;
}

thead tr {
    text-shadow: 1px 1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(hsl(195, 73%, 58%)));
}

th,
tr {
    border-radius: 5px;
}

tr.even,
tr.odd {
    border-bottom: 1px solid #CCC;
    padding: 0.1em 0.6em;
}

tr.odd {
    background: #EFEFEF;
}

tbody {
    font-size: 12px;
    text-align: center;
}


/* post page */

#container {
    width: 75%;
}


/* post container */

.post-container {
    position: relative;
    right: -100px;
    top: 35px;
    padding: 5px;
    background-color: rgb(227, 242, 255);
    /* background-color: rgb(243, 243, 243); */
    border-radius: 10px;
}

.like-plus {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid hsl(195, 73%, 58%);
}

.like-minus {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid hsl(195, 73%, 58%);
}

.like-box {
    width: 5%;
    height: 50px;
    margin: 15px 5px 5px 5px;
    float: left;
    text-align: center;
    padding: 4px;
}


/* #like {} */

.post-box {
    display: table;
}

#title {
    float: left;
    width: 96%;
    /* background-color: greenyellow; */
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.hr-box {
    float: left;
    width: 96%;
    margin: -5px 15px 15px 15px;
    height: 1px;
    color: hsl(0, 0%, 40%);
}

#post-body {
    width: 96%;
    float: left;
    margin: 10px;
    padding: 5px;
    font-size: 16;
    /* background-color: red; */
}

#author {
    float: right;
    margin: 10px;
    font-size: 12px;
    /* background-color: blue; */
}


/* //post container */


/* create comment container */

.create-comment-container {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: table;
    width: 100%;
    margin-top: 50px;
    right: -100px;
    /* background-color: blueviolet; */
}

.create-comment-header {
    padding-top: 10px;
    margin-left: 16px;
    width: fit-content;
    font-weight: 400;
    font-size: 22px;
    /* background-color: burlywood; */
}

#textarea-form {
    margin: 0px 0px 0px 16px;
    width: 95%;
    height: 200px;
    border-radius: 4px;
    padding: 7px;
    border: 3px dashed black;
    resize: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit-comment {
    float: right;
    margin: 12px;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: rgb(83, 125, 241);
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}


/* //create comment container */


/* comments container */

.comments-container {
    position: relative;
    width: 100%;
    margin-top: 50px;
    right: -100px;
    margin-bottom: 150px;
}

.all-comments {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.like-plus-comment {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid hsl(195, 73%, 58%);
}

.like-minus-comment {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid hsl(195, 73%, 58%);
}

.like-box-comment {
    width: 5%;
    height: 50px;
    margin: 15px 5px 5px 5px;
    float: left;
    text-align: center;
    padding: 4px;
}

.comment-body {
    font-size: 14px;
    margin-top: 66px;
}

.author-comment {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 11px;
    color: rgba(129, 129, 129, 0.3);
}


/* ..comment container */


/* // post page */

/*Sign Up page*/

.sign-up-container {
    font-family: 'Poppins', sans-serif;
}

#sign-up-form {
    width: 300px;
    margin: 10vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 13px;
}

#sign-up-form h1 {
    color: #0f2027;
    text-align: center;
}

#sign-up-form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 95%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/*Success page*/
.success-body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
}
.success-container {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}
.success-container h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.success-container p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
}
.success-container i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}
.contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background: #8bc34a;
    color: #fff;
    margin: auto;
    padding: .8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.contBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

/*Page 404*/

#error-container{
    height: 100%;
    transition: all 0.6s;
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
    display: table-cell;
    vertical-align: middle;
}

.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #888;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}