@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700);
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 0;
    border-bottom: 3px solid hsl(195, 73%, 58%);
}

button {
    padding: 0;
    border: none;
    background: none;
}

a,
button {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.row.mt {
    margin-top: 1.25em;
    box-sizing: border-box;
}

.row.mb {
    margin-bottom: 1.25em;
}

.lpad {
    padding: 20px;
}

nav.menu a,
nav.menu button {
    margin: 0 7px;
    color: hsl(0, 0%, 70%);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.ar {
    text-align: right;
}

.logo {
    color: hsl(195, 73%, 58%);
    font-size: 28px;
}

.top-msg {
    border-bottom: 5px solid hsla(0, 0%, 90%, .3);
    color: hsl(0, 0%, 40%);
    font-size: 13px;
    font-weight: 300;
}

.breadcrumb a,
.breadcrumb button {
    transition: color .5s;
}

.breadcrumb a:hover,
.breadcrumb button:hover {
    color: hsl(0, 0%, 20%);
}

.breadcrumb a:after,
.breadcrumb button:after {
    content: '\00a0\00a0\002F\00a0\00a0';
    color: hsl(0, 0%, 70%);
}

.breadcrumb a:last-child:after,
.breadcrumb button:last-child:after {
    content: '\00a0\00a0\002F\00a0\00a0 Categories';
    color: hsl(0, 0%, 70%);
}

a.primary,
button.primary {
    color: hsl(0, 0%, 70%);
    transition: color .5s;
}

a.primary:hover,
button.primary:hover {
    color: hsl(195, 73%, 58%);
}

a.underline,
button.underline {
    color: hsl(0, 0%, 70%);
}

a.underline:hover:after,
button.underline:hover:after {
    content: '';
    display: block;
    width: inherit;
    height: 2px;
    background-color: hsl(195, 73%, 58%);
    margin-bottom: -2px;
    animation: link .9s ease;
}

@keyframes link {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#app {
    height: max-content;
}

.posts {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

table {
    border-collapse: separate;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-color: inherit;
    border: 1px solid gray;
    border-radius: 10px;
}

.table {
    table-layout: fixed;
}

thead {
    color: #555;
    display: table-header-group;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    font-size: 93%;
    line-height: 1.3em;
    border-bottom: solid gray;
}

thead tr {
    text-shadow: 1px 1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(hsl(195, 73%, 58%)));
}

th,
tr {
    border-radius: 5px;
}

tr.even,
tr.odd {
    border-bottom: 1px solid #CCC;
    padding: 0.1em 0.6em;
}

tr.odd {
    background: #EFEFEF;
}

tbody {
    font-size: 12px;
    text-align: center;
}


/* post page */


/* post container */

#container {
    position: relative;
    right: -35px;
    top: 35px;
    padding: 5px;
    width: 75%;
    background-color: rgb(227, 242, 255);
    /* background-color: rgb(243, 243, 243); */
    border-radius: 10px;
}

.like-plus {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid hsl(195, 73%, 58%);
}

.like-minus {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid hsl(195, 73%, 58%);
}

.like-box {
    width: 5%;
    height: 50px;
    margin: 15px 5px 5px 5px;
    float: left;
    text-align: center;
    padding: 4px;
}

#like {}

.post-box {
    display: table;
}

#title {
    float: left;
    width: 96%;
    /* background-color: greenyellow; */
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.hr-box {
    float: left;
    width: 96%;
    margin: -5px 15px 15px 15px;
    height: 1px;
    color: hsl(0, 0%, 40%);
}

#post-body {
    width: 96%;
    float: left;
    margin: 10px;
    padding: 5px;
    /* background-color: red; */
}

#author {
    float: right;
    margin: 10px;
    font-size: 14px;
    /* background-color: blue; */
}


/* //post container */


/* create comment container */


/* //create comment container */


/* // post page */


/* 






body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

nav__link:hover {
    background: rgba(255, 255, 255 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579
}

#invalid_user {
    color: red;
}

body {
    font-family: 'Poppins', sans-serif;
}

.filterwrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    border: 5px solid white;
    background-color: rgb(43, 145, 97);
    border-radius: 10px;
}

.filter {
    margin: 5px;
}

.btn {
    border-radius: 25px;
    margin: 1rem 0;
    outline: none;
    border: white 2px solid;
    background-image: linear-gradient(to right, rgb(43, 145, 97), rgb(43, 145, 97), rgb(43, 145, 97));
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 100%;
    transition: 0.5s;
    color: white;
}

.option {
    border-radius: 25px;
    margin: 1rem 0;
    outline: none;
    border: white 2px solid;
    background-image: linear-gradient(to right, rgb(43, 145, 97), rgb(43, 145, 97), rgb(43, 145, 97));
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 100%;
    transition: 0.5s;
    color: white;
}

.post-wrap {
    margin: auto;
    border: 1px solid rgb(43, 145, 97);
    border-radius: 10px;
    width: 80%;
    padding: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 17px;
    padding: 10px;
    outline: none;
    border: white 2px solid;
    background-image: linear-gradient(to right, rgb(43, 145, 97), rgb(43, 145, 97), rgb(43, 145, 97));
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: 0.5s;
    color: white;
}

.UserName {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.row {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.body {
    margin: 20px;
    padding: 5px;
    border-bottom: 2px solid teal;
    border-top: 2px solid teal;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.time {
    outline: none;
    border: white 2px solid;
    background-image: linear-gradient(to right, rgb(43, 145, 97), rgb(43, 145, 97), rgb(43, 145, 97));
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.comment {
    display: flex;
    margin: 20px;
    padding: 5px;
    border: 2px solid teal;
    border-radius: 10px;
}

.commentbody {
    margin: 10px;
}

.UserNamee {
    margin: 10px;
    color: teal;
}

.btnpost {
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: white 2px solid;
    background-image: linear-gradient(to right, rgb(43, 145, 97), rgb(43, 145, 97), rgb(43, 145, 97));
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 100%;
    transition: 0.5s;
    color: white;
}

.CP {
    padding-left: 20px;
}

.LP {
    display: flex;
    justify-content: flex-end;
}

.posts {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.btnpostt {
    display: flex;
    justify-content: flex-end;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
} */